<h1>Brief History on WeakMap</h1>
<blockquote>
    WeakMaps are similar to normal Maps, albeit with fewer methods and
    the aforementioned difference with regards to garbage collection.
    WeakSets are Set Collections whose elements can be garbage collected
    when objects they’re referencing are no longer needed.
    The WeakMap object is a collection of key/value pairs in which the keys are weakly referenced.
    The keys must be objects and the values can be arbitrary values.
</blockquote>
<h1>Brief History on WeakTest</h1>
<blockquote>
    The WeakSet object lets you store weakly held objects in a collection.
    WeakSets don’t allow for iteration. Their use cases are rather limited
    (for now, at least). Most early adopters say that WeakSets can be used
    to tag objects without mutating them.
</blockquote>
