<h1>Brief History on Destructuring</h1>
<blockquote>
        The destructuring assignment syntax is a JavaScript expression that
        makes it possible to unpack values from arrays, or properties from objects,
        into distinct variables. It’s a JavaScript expression that allows us to
        extract data from arrays, objects, maps and sets — which we’re going to
        learn more about in a future ES6.io video —into their own variable.
        It allows us to extract properties from an object or items from an array,
        multiple at a time.
</blockquote>
