<app-shell>
  <ul>
    <li>
      <a routerLink="/arrow">Arrow Functions</a>
      
    </li>
    <li>
      <a routerLink="/class">Classes</a>
    </li>
    <li>
        <a routerLink="/destructure">Destructuring</a>
      </li>
      <li>
        <a routerLink="/maps">Maps</a>
      </li>
      <li>
        <a routerLink="/parameters">Parameters</a>
      </li>
      <li>
        <a routerLink="/scope">Scope and Let</a>
      </li>
      <li>
        <a routerLink="/sets">Sets</a>
      </li>
      <li>
        <a routerLink="/template-strings">Template Strings</a>
      </li>
      <li>
        <a routerLink="/weakmap-weaktest">WeakMap/WeakSet</a>
      </li>
  </ul>
    
    <router-outlet></router-outlet>
</app-shell>