<h1>Brief History on Scope and Let</h1>
<blockquote>
    Scope determines the visibility or accessibility of a variable or other resource in the area of the code.
    Global Scope: There's only one Global scope in the JavaScript document. 
    The area outside all the functions is consider the global scope and the 
    variables defined inside the global scope can be accessed and altered in any other scopes.
    The "Let" statement declares a block scope local variable, optionally initializing it to a value.
</blockquote>
